/shell/.config/zsh/.zsh_history
/shell/.config/zsh/.zcompdump*
/shell/.config/go/**
/shell/.config/gh/**
/shell/.config/dlv/**

/tmux/.config/tmux/plugins/*
!/tmux/.config/tmux/plugins/tpm/

/bin/.local/*
!/bin/.local/scripts

/wayland/.config/hypr/scripts/alttab/*.png
